doctype html
html(lang='cn')
  head
    title= title
    meta(charset='utf-8', name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='keywords', content=`${keywords}`)
    meta(name='description', content=`${description}`)
    meta(name='google-site-verification', content='Hg_FpW9VRHu76BCW3OENUEzdZz0qhxl1K-T-oNDizRc')
    link(rel='stylesheet', type='text/css', href='./../styles/reset.css')
    link(rel='stylesheet', type='text/css', href='./../styles/index.css')
    script(type='application/javascript', src='https://cdn.jinlidd.com/assets/js/flexible.min.js')
    style.
      .container {
        background-image: url(#{pcUrl});
      }
    style(media='screen and (max-width:768px)').
      .container {
        background-image: url(#{mbUrl});
      }
  body
    block content
